/* navbar starts here */
.navbar-brand {
  font-weight: bold;
  /* font-size: 48px; */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* .d-flex{
    margin-left: 30px;
} */

.nav-link {
  margin-left: 40px;
  font-size: 18px;
  color: white;
}

.nav-link:hover {
  color: white;
  text-decoration: underline;
}

.navbar .dark-mode button {
  border: none;
  background: none;
  color: rgb(110, 180, 100);
  font-size: 25px;
}

.dark-mode{
    /* margin-left: 190px; */
  background-color: black;
  color: white;
}

/* navbar ends here */

/* section starts here */
.carousel-item .carousel-caption h5 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 50px;
  font-weight: bold;
}

.carousel-item .carousel-caption p {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 24px;
}

/* section ends here */

/* Exceptional Interior Design Services starts here*/
.main-section main {
  display: flex;
  margin-left: 50px;
  margin-top: 50px;
  cursor: pointer;

}

.main-section main img {
  width: 600px;
  height: 400px;
  cursor: pointer;
}

.main-section main div {
  margin-left: 30px;
}

.main-section main div h1 {
  color: blue;
  width: 60%;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
}

/*Exceptional Interior Design Service ends here */

/* INTERIOR DESIGN PROJECTS STARTS HERE */

.sec main {
  display: flex;
  margin-left: 50px;
  margin-top: 90px;
}

.sec main img {
  width: 600px;
  height: 400px;
  margin-right: 20px;
  margin-left: 20px;
}

.sec main div p {
  width: 90%;
}

/* INTERIOR DESIGN PROJECTS ENDS HERE */

/* figure starts here */
.figure main {
  display: flex;
}

.figure main div h3 {
  color: blue;
  text-align: center;
  font-size: 24px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-top: 10px;
}

.figure main div p {
  text-align: center;
  width: 100%;
  font-size: 16px;
}

/* figure ends here */


/* footer starts here */

.f1 {
  margin-top: 70px;
  background: rgb(28, 124, 49);
  padding-bottom: 30px;
}

.f1 main img {
  margin-top: 40px;
  width: 100px;
  height: 100px;
}

.f1 main div ul li {
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding-top: 10px;
  list-style: none;
  color: white;
  padding-left: 10px;
}

.f1 main div ul .a3 {
  margin-top: 40px;
}

.f1 main div ul li a {
  text-decoration: none;
  color: white;
}

.f1 main div .a1 {
  color: rgb(58, 124, 245);
  margin-left: 10px;
}

.f1 .m3 {
  margin-top: -50px;
}

.f1 .m3 div .a2 {
  margin-left: 910px;
  font-size: 40px;
  margin-top: -20px;
}

.f1 .m3 div a {
  margin-top: -50px;
  font-size: 40px;
}

.f1 div p {
  margin-left: 1000px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 16px;
  width: 20%;
  color: white;
  cursor: pointer;
}

.f1 .m {
    display: none;
  }

  
       #myBtn {
  display: none; 
  position: fixed; 
  bottom: 20px; 
  right: 30px; 
  z-index: 99; 
  border: none; 
  outline: none; 
  background-color: rgb(28, 124, 49);
  color: white; 
  cursor: pointer; 
  padding: 15px; 
  border-radius: 10px; 
  font-size: 18px; 
}

#myBtn:hover {
  background-color: red 
}


/* footer ends here */

/* media query */
@media only screen and (max-width:850px) {

  .navbar .dark-mode button {
    margin-right: -900px;
  }

  .dark-mode{
    margin-left: 10px;
}

  .carousel-item .d-block {
    height: 300px;
  }

  /* Exceptional Interior Design Services starts here*/
  .main-section main {
    flex-direction: column;
    margin-left: -20px;
  }

  .main-section main img {
    width: 540px;
  }

  .main-section main div h1 {
    width: 80%;
  }

  /* Exceptional Interior Design Services ends here*/

  /* INTERIOR DESIGN PROJECTS STARTS HERE */
  .sec main {
    flex-direction: column-reverse;
  }

  .sec main img {
    width: 540px;
  }

  /* INTERIOR DESIGN PROJECTS ENDS HERE */

  /* figure starts here */
  .figure main div img {
    width: 370px;
    height: 300px;
  }

  /* footer starts here */
 .f1 main {
  flex-direction: column;
}

.f1 main img {
  margin-left: 20px;
  width: 200px;
  height: 200px;

}

.f1 main div ul .a3 {
  margin-top: 40px;
}

.f1 main div ul li a {
  text-decoration: none;
  color: white;
}

.f1 main div .a1 {
  color: rgb(58, 124, 245);
  margin-left: 10px;
}

.f1 .m3 {
  margin-top: -50px;
}

.f1 .m3 div .a2 {
  margin-left: 900px;
  font-size: 60px;
  margin-top: -20px;
}

.f1 .m3 div a {
  margin-top: -50px;
  font-size: 60px;
}

.f1 .m3 .a2 {
  display: none;
}

.f1 .m3 a {
  display: none;
}

.f1 div p {
  margin-top: 50px;
margin-left: 70px;
width: 70%;
}

.f1 .m {
    display: block;
  }

.f1 .m .a {
  margin-left: 60px;
  font-size: 30px;
}

.f1 .m a {
font-size: 30px;
}

}
